div.info
{
    font-size: 24px;
    font-family: cursive;
}


@media (any-hover: hover)
{
    .any-hover-box::after
    {
        content: "hover";
    }
}

@media not all and (any-hover: hover)
{
    .any-hover-box::after
    {
        content: "none";
    }
}

@media (hover: hover)
{
    .hover-box::after
    {
        content: "hover";
    }
}

@media not all and (hover: hover)
{
    .hover-box::after
    {
        content: "none";
    }
}

@media (any-pointer: none)
{
    .any-pointer::after
    {
        content: "none";
    }
}

@media (any-pointer: coarse)
{
    .any-pointer::after
    {
        content: "coarse";
    }
}

@media (any-pointer: fine)
{
    .any-pointer::after
    {
        content: "fine";
    }
}

@media (pointer: none)
{
    .pointer::after
    {
        content: "none";
    }
}

@media (pointer: coarse)
{
    .pointer::after
    {
        content: "coarse";
    }
}

@media (pointer: fine)
{
    .pointer::after
    {
        content: "fine";
    }
}




